<form action="/ldapManage">
  <input type="hidden" name="actionTo" value="modify"/>
  <label class="addLdap lab-required">Change your password: <input id="inpProfil" class="password required" type="password" name="userpassword" /><button class="pass-gen-profil fa fa-refresh"></button><div class='pass-clear'>gen</div></label>
  <button id="addEntry" class="changePass" disabled="true">Apply new password</button>
</form>
